.idea/
/node_modules
/public/hot
/public/storage
/public/uploads
/public/js/app.js
/public/css/app.css
/storage/*.key
/vendor
/database/seeders/DevSeeder.php
/.idea
.env
.env.backup
.env*
.phpunit.result.cache
.phpstorm.meta.php
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
